body{
  margin:0;
  text-align: center;

}
h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    color: #66BFBF;
}
h3{color: #66BFBF;}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width:10px;
  width:10%;
}

h1
{
  margin-top:50px;
  width: 20%;
  margin: 0 auto 0 auto;
 font-family:  'Great Vibes',cursive;
 font-size: 4rem;
 margin-top: 50px;
 color: #66BFBF;
 line-height: 2;
}
.b{
  background-color: powderblue;

  margin-top: 30px;
padding: 50px 0 20px;

}
.footer-link{
  margin: 20px;
  font-family: sans-serif;
  color: #11999E;

}
a{
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
p{
  color: black;
  margin: 30px auto 60px;
}
.u{
background-color: powderblue;
position: relative;
padding-top: 100px;
}
.btn {
	background-color:#4bdbb9;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}


 .skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;

  text-align: left;
}
.skill2{
  float:right;
  margin-left: 30px;
}
.last{
  color:#EAF6F6;
  margin-top: 50px;
  font-size: 1.25rem;
}
.codings{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;

}
p{
  line-height: 2;
}
.intro{
  width:200px;
  margin: auto;
}

.m{
margin-top: 50px;
}


.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;
}
.deepak{
  border-radius: 50%;
  max-width: 10%;
    height: auto;
}
